@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');

@import "tailwindcss";

@theme {
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222 47% 11%);
  --color-primary: hsl(221 83% 53%);
  --color-primary-foreground: hsl(210 40% 98%);
  --color-accent: hsl(0 10% 90%);
  --color-accent-foreground: hsl(210 40% 98%);
  --color-muted: hsl(210 40% 96%);
  --color-muted-foreground: hsl(215 16% 47%);
  --color-card: hsl(0 0% 100%);
  --color-border: hsl(214 32% 91%);
  --radius: 0.5rem
}

* {
  font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1280px;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

::-webkit-scrollbar {
  display: none;
}